.remark-slide-content
    background #1d2831
    color #fff
    font-size 1em
    h1
        font-size 4em
        // letter-spacing .15em
    h3
        font-size 2.5em
        letter-spacing 0em
    a
        text-decoration none
        color coral

.remark-code,
.remark-inline-code
    font-family 'Ubuntu Mono'

.remark-container
    background #1d2831

.remark-slide-scaler
    box-shadow none

